<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <unity>
    <namespace name="GenricType.Interface"/>
    <namespace name="Sample.Type1"/>
    <namespace name="Sample.Type2"/>
    <namespace name="Sample.Type3"/>
    <assembly name="GenricType.Interface"/>
    <assembly name="Sample.Type1"/>
    <assembly name="Sample.Type2"/>
    <assembly name="Sample.Type3"/>

    <container name="Class2">
      <register type="IGenericLib" mapTo="Class2" name="Class2"/>
      
    </container>
    
    <container name="AllotherTypes">
        <register type="IGenericLib" mapTo="Class1" name="Class1"/>
          <register type="IGenericLib" mapTo="Class3" name="Class3"/>
      </container>
  </unity>
</configuration>